.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure it spans the entire width of the viewport */
    z-index: 1000; /* Adjust as needed to ensure it's above other content */
    /* Add other styles as needed */
}
